*{
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.h1s{
    text-align: center;
}
.divs1{
    text-align: center;
}
.div2{
    text-align: center;
}
