@charset "UTF-8";



/* base da página */
* {
    background-attachment: fixed;
    background-color: white;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0px;
}

p {
    text-align: justify;
}

h2 {
    font-size: 2em;
}



/* header principal da página */
header#cabecalho-principal {
    height: 105px;
}

header#cabecalho-principal > h1{
    font: bold 3em 'Work sans', Arial, sans-serif;
    text-align: center;
    margin: 20px 200px;
    color: #016f6f;
}



/* navegação da pagina */
header#cabecalho-principal > nav#nav-cabecalho{
    background-color: darkcyan;
    height: 25px;
    font-size: 14px;
    margin: 0px 20px;
    border-radius: 5px;
}

header#cabecalho-principal > nav#nav-cabecalho > ul > li {
    margin-right: 15px;
    list-style: none;
    float: left;
    background-color: darkcyan;
}

header#cabecalho-principal > nav#nav-cabecalho > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    height: 16px;
    width: 16px;
    margin: 0px;
    background-color: darkcyan;
}

header#cabecalho-principal > nav#nav-cabecalho > ul > li > a:hover {
    color: lightgreen;
    text-decoration: underline;
}

header#cabecalho-principal > nav#nav-cabecalho > ul > li > a:active {
    color: darkgreen;
}

header#cabecalho-principal > nav#nav-cabecalho > ul > li > a::after {
    color: white;
}



/* menu da pagina */
main {
    height: 585px;
}

main > section {
    float: left;
    padding: 10px;
    margin: 10px 66px;
}

/* projetos básicos */
section#projetos-basicos {
    width: 32em;
    height: 540px;
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.384);
}

section#projetos-basicos > aside {
    background-color: lightblue;
    ;
}

section#projetos-basicos > h2 {
    text-align: center;
    background-color: lightblue;
}
section#projetos-basicos > p {
    background-color: lightblue;
}

section#projetos-basicos > aside > h3 {
    background-color: lightblue;
}
section#projetos-basicos > aside > p {
    background-color: lightblue;
}



/* projetos intermediários */
section#projetos-intermediarios {
    width: 32em;
    height: 540px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.384);
}

section#projetos-intermediarios > aside {
    background-color: lightblue;
    ;
}

section#projetos-intermediarios > h2 {
    text-align: center;
    background-color: lightblue;
}
section#projetos-intermediarios > p {
    background-color: lightblue;
}

section#projetos-intermediarios > aside > h3 {
    background-color: lightblue;
}
section#projetos-intermediarios > aside > p {
    background-color: lightblue;
}



/* projetos avancados */
section#projetos-avancados {
    width: 32em;
    height: 540px;
    background-color: lightblue;
    border-radius: 10px;
    margin-right: 0px;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.384);
}

section#projetos-avancados > aside {
    background-color: lightblue;
    ;
}

section#projetos-avancados > h2 {
    text-align: center;
    background-color: lightblue;
}
section#projetos-avancados > p {
    background-color: lightblue;
}

section#projetos-avancados > aside > h3 {
    background-color: lightblue;
}
section#projetos-avancados > aside > p {
    background-color: lightblue;
}



/* artigo da pagina */
article#esportes-olimpicos {
    height: 900px;
    margin: 20px 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.384);
}

article#esportes-olimpicos > header > h1 {
    background-color: antiquewhite;
    font-size: 2em;
    text-align: center;
}

article#esportes-olimpicos > p {
    background-color: antiquewhite;
}

article#esportes-olimpicos > div {
    height: 450px;
    width: 650px;
    margin: auto;
    border-radius: 10px;
}

article#esportes-olimpicos > div > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

footer#rodape-artigo > p {
    text-align: center;
    color: white;
    background-color: #484646;
    border-radius: 5px;
}



/* rodape da pagina */
footer#rodape-principal > p{
    text-align: center;
    color: white;
    background-color: #272626;
    margin: 10px 0px;
}